.App {
    text-align: center;
    font-family: Arial, sans-serif;
}

input[type='text'] {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.pokemon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 150px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pokemon-card img {
    width: 100px;
    height: 100px;
}

.pagination {
    margin: 20px 0;
}

.pagination button {
    padding: 10px 15px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.pagination button.active {
    background-color: #45a049;
}

.pagination button:hover {
    background-color: #3e8e41;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}